[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule ".vim/plugins/tern"]
	path = .vim/plugins/tern
	url = https://github.com/marijnh/tern.git
[submodule "powerline"]
	path = powerline
	url = git@github.com:Lokaltog/powerline.git
